*{
    margin: 0%;
    padding: 0%;
}
h2{
    height: 7rem;
    width: 100%;
    background-color: rgba(22, 20, 20, 0.966);
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top:3rem;
}

main{
    height: 31rem;
    width: 100%;
    background-color:RGB(17 71 47);

}

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25rem;
}
h1{
    font-size: 2.5rem;
    color: white;
    margin-top: 4rem;
}
h3{
    height: 9rem;
    width: 12rem;
    background-color: black;
    color: rgb(236, 54, 54);
    font-size: 7rem;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: -2rem;
}
button{
height: 35px;
width: 35px;
background-color: transparent;
color: rgb(176, 216, 214);
border-color: rgb(180, 202, 201);
border-radius: 3px;
margin-top: 1.5rem;

}
.btn1{width: 9rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top:6rem ;
    margin-left: 37rem;
    border-radius: 5px;
    background-color: aquamarine;
    color: darkslategray;
}